# I've noticed if I move the extruder up and down 100 times it seems to settle towards a certain position,
# which is not the same position I get if I do the auto-Z-align. So just... run up and down 100 times
# and then do a bed leveling
[gcode_macro LOL_TRAM]
gcode:
  G0 Z10 F6000
  {% for i in range(100) %}
    G0 Z5 F6000
    G0 Z105 F6000
  {% endfor %}
